<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2000</key>
	<string>请求成功.</string>
	<key>2001</key>
	<string>客户端尚未初始化，请先完成初始化.</string>
	<key>3000</key>
	<string>账号未注册，请先注册账号.</string>
	<key>3001</key>
	<string>账号注册失败.</string>
	<key>3002</key>
	<string>账号已注册，请勿重复注册.</string>
	<key>3003</key>
	<string>密码错误.</string>
	<key>4000</key>
	<string>请求无效.</string>
	<key>4001</key>
	<string>未授权，授权码失效或未登录.</string>
	<key>4002</key>
	<string>请求参数错误.</string>
	<key>4003</key>
	<string>服务器发生错误.</string>
	<key>4004</key>
	<string>手机号码错误.</string>
	<key>4005</key>
	<string>获取验证码失败.</string>
	<key>4006</key>
	<string>获取验证码超过限额.</string>
	<key>4007</key>
	<string>验证码错误.</string>
	<key>4008</key>
	<string>手机号已注册.</string>
	<key>4009</key>
	<string>账号不存在.</string>
	<key>4010</key>
	<string>账号被冻结.</string>
	<key>4011</key>
	<string>账号已绑定其他手机号.</string>
	<key>4012</key>
	<string>未绑定手机号码.</string>
	<key>4013</key>
	<string>无效的电话号码.</string>
	<key>4014</key>
	<string>时间格式错误.</string>
	<key>4015</key>
	<string>无效的坐标.</string>
	<key>5000</key>
	<string>服务器内部错误.</string>
	<key>5001</key>
	<string>服务器服务暂停.</string>
	<key>5002</key>
	<string>服务器服务维护.</string>
	<key>5003</key>
	<string>服务器服务暂不支持.</string>
	<key>6000</key>
	<string>身份证号码无效.</string>
	<key>6001</key>
	<string>身份证照片不存在.</string>
	<key>6002</key>
	<string>身份信息正在审核中.</string>
	<key>6003</key>
	<string>身份已完成认证，请勿重复申请.</string>
	<key>6004</key>
	<string>身份认证未完成，请先完成认证.</string>
	<key>7000</key>
	<string>数据不存在.</string>
	<key>7001</key>
	<string>数据不完整.</string>
	<key>7002</key>
	<string>更新数据出错.</string>
	<key>7003</key>
	<string>查询数据错误.</string>
	<key>7004</key>
	<string>数据格式错误.</string>
	<key>7005</key>
	<string>数据不属于自己.</string>
	<key>8000</key>
	<string>支付渠道暂未开通.</string>
	<key>8001</key>
	<string>金额错误.</string>
	<key>8002</key>
	<string>订单不能创建支付.</string>
	<key>8003</key>
	<string>订单已支付.</string>
	<key>9000</key>
	<string>创建订单失败.</string>
	<key>9001</key>
	<string>订单不是自己的.</string>
	<key>9002</key>
	<string>订单编号错误.</string>
	<key>9003</key>
	<string>订单已评价</string>
	<key>9004</key>
	<string>订单不存在.</string>
	<key>9005</key>
	<string>订单未完成.</string>
	<key>9006</key>
	<string>订单评价失败.</string>
	<key>9007</key>
	<string>有未支付订单，请先完成支付.</string>
	<key>9008</key>
	<string>订单取消失败.</string>
	<key>10000</key>
	<string>内容不存在.</string>
	<key>10001</key>
	<string>内容已收藏，请勿重复收藏.</string>
	<key>10002</key>
	<string>内容已点赞，请勿重复点赞.</string>
	<key>11000</key>
	<string>评论内容不能为空.</string>
	<key>11001</key>
	<string>评价失败.</string>
	<key>12000</key>
	<string>你还未关注对方，请先关注.</string>
	<key>12001</key>
	<string>你已关注对方，请勿重复关注.</string>
	<key>12002</key>
	<string>关注用户未成功.</string>
	<key>12003</key>
	<string>拉黑用户失败.</string>
	<key>12004</key>
	<string>用户已被拉黑，请勿重复拉黑.</string>
	<key>12005</key>
	<string>移除粉丝失败.</string>
	<key>12006</key>
	<string>对方已不是你的粉丝，请勿重复移除.</string>
	<key>12007</key>
	<string>对方还不是好友，请先添加为好友.</string>
	<key>12008</key>
	<string>删除好友失败.</string>
	<key>12009</key>
	<string>对方已经是好友，请勿重复添加.</string>
	<key>13000</key>
	<string>钱包出错.</string>
	<key>13001</key>
	<string>提现金额超出钱包可提金额.</string>
	<key>13003</key>
	<string>钱包余额不足.</string>
	<key>14000</key>
	<string>此账号已是代理账号.</string>
	<key>14001</key>
	<string>代理账号不存在.</string>
	<key>14002</key>
	<string>代理账号被冻结.</string>
	<key>14003</key>
	<string>代理账号功能失效.</string>
	<key>14004</key>
	<string>此账号不是代理或代理失效.</string>
	<key>14005</key>
	<string>此账号不能添加下级代理.</string>
	<key>15001</key>
	<string>商品已失效.</string>
	<key>15002</key>
	<string>商品不存在或已被删除.</string>
	<key>15003</key>
	<string>商品库存不足.</string>
	<key>15004</key>
	<string>商品规格错误.</string>
	<key>15005</key>
	<string>商品不能兑换.</string>
	<key>16001</key>
	<string>红包已失效.</string>
	<key>16002</key>
	<string>红包不存在或已被删除.</string>
	<key>16003</key>
	<string>红包金额错误.</string>
	<key>16004</key>
	<string>红包不属于自己.</string>
	<key>16005</key>
	<string>红包未满足使用条件.</string>
	<key>16006</key>
	<string>红包不在有效期.</string>
	<key>16007</key>
	<string>红包还未到领取时间.</string>
	<key>16008</key>
	<string>红包已过领取时间.</string>
	<key>16009</key>
	<string>红包已被领光.</string>
	<key>16010</key>
	<string>红包不支持用户领取.</string>
	<key>16011</key>
	<string>红包领取数量已达上限.</string>
	<key>17001</key>
	<string>账号已绑定其他微信.</string>
	<key>17002</key>
	<string>账号已绑定其他微博.</string>
	<key>17003</key>
	<string>该微信已绑定其他账号.</string>
	<key>17004</key>
	<string>该微博已绑定其他账号.</string>
	<key>17005</key>
	<string>微信授权参数错误.</string>
	<key>17006</key>
	<string>微博授权参数错误.</string>
	<key>17007</key>
	<string>绑定微信失败.</string>
	<key>17008</key>
	<string>绑定微博失败.</string>
</dict>
</plist>
