<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>Continue.</string>
	<key>101</key>
	<string>Switching Protocols.</string>
	<key>102</key>
	<string>Processing (WebDAV; RFC 2518).</string>
	<key>200</key>
	<string>OK.</string>
	<key>201</key>
	<string>Created.</string>
	<key>202</key>
	<string>Accepted.</string>
	<key>203</key>
	<string>Non-Authoritative Information (since HTTP/1.1).</string>
	<key>204</key>
	<string>No Content.</string>
	<key>205</key>
	<string>Reset Content.</string>
	<key>206</key>
	<string>Partial Content.</string>
	<key>207</key>
	<string>Multi-Status (WebDAV; RFC 4918).</string>
	<key>208</key>
	<string>Already Reported (WebDAV; RFC 5842).</string>
	<key>226</key>
	<string>226 IM Used (RFC 3229)</string>
	<key>250</key>
	<string>Low on Storage Space (RTSP; RFC 2326).</string>
	<key>300</key>
	<string>Multiple Choices.</string>
	<key>301</key>
	<string>Moved Permanently.</string>
	<key>302</key>
	<string>Found.</string>
	<key>303</key>
	<string>See Other (since HTTP/1.1).</string>
	<key>304</key>
	<string>Not Modified.</string>
	<key>305</key>
	<string>Use Proxy (since HTTP/1.1).</string>
	<key>306</key>
	<string>Switch Proxy.</string>
	<key>307</key>
	<string>Temporary Redirect (since HTTP/1.1).</string>
	<key>308</key>
	<string>Permanent Redirect (approved as experimental RFC).</string>
	<key>400</key>
	<string>Bad Request.</string>
	<key>401</key>
	<string>Unauthorized.</string>
	<key>402</key>
	<string>Payment Required.</string>
	<key>403</key>
	<string>Forbidden.</string>
	<key>404</key>
	<string>Not Found.</string>
	<key>405</key>
	<string>Method Not Allowed.</string>
	<key>406</key>
	<string>Not Acceptable.</string>
	<key>407</key>
	<string>Proxy Authentication Required.</string>
	<key>408</key>
	<string>Request Timeout.</string>
	<key>409</key>
	<string>Conflict.</string>
	<key>410</key>
	<string>Gone.</string>
	<key>411</key>
	<string>Length Required.</string>
	<key>412</key>
	<string>Precondition Failed.</string>
	<key>413</key>
	<string>Request Entity Too Large.</string>
	<key>414</key>
	<string>Request-URI Too Long.</string>
	<key>415</key>
	<string>Unsupported Media Type.</string>
	<key>416</key>
	<string>Requested Range Not Satisfiable.</string>
	<key>417</key>
	<string>Expectation Failed.</string>
	<key>418</key>
	<string>I&apos;m a teapot (RFC 2324).</string>
	<key>420</key>
	<string>Enhance Your Calm (Twitter).</string>
	<key>422</key>
	<string>Unprocessable Entity (WebDAV; RFC 4918).</string>
	<key>423</key>
	<string>Locked (WebDAV; RFC 4918).</string>
	<key>424</key>
	<string>Failed Dependency (WebDAV; RFC 4918).</string>
	<key>425</key>
	<string>Unordered Collection (Internet draft).</string>
	<key>426</key>
	<string>Upgrade Required (RFC 2817).</string>
	<key>428</key>
	<string>Precondition Required (RFC 6585).</string>
	<key>429</key>
	<string>Too Many Requests (RFC 6585).</string>
	<key>431</key>
	<string>Request Header Fields Too Large (RFC 6585).</string>
	<key>444</key>
	<string>No Response (Nginx).</string>
	<key>449</key>
	<string>Retry With (Microsoft).</string>
	<key>450</key>
	<string>Blocked by Windows Parental Controls (Microsoft).</string>
	<key>451</key>
	<string>Redirect (Microsoft).</string>
	<key>452</key>
	<string>Conference Not Found (RTSP).</string>
	<key>453</key>
	<string>Not Enough Bandwidth (RTSP).</string>
	<key>454</key>
	<string>Session Not Found (RTSP).</string>
	<key>455</key>
	<string>Method Not Valid in This State (RTSP).</string>
	<key>456</key>
	<string>Header Field Not Valid for Resource (RTSP).</string>
	<key>457</key>
	<string>Invalid Range (RTSP).</string>
	<key>458</key>
	<string>Parameter Is Read-Only (RTSP).</string>
	<key>459</key>
	<string>Aggregate Operation Not Allowed (RTSP).</string>
	<key>460</key>
	<string>Only Aggregate Operation Allowed (RTSP).</string>
	<key>461</key>
	<string>Unsupported Transport (RTSP).</string>
	<key>462</key>
	<string>Destination Unreachable (RTSP).</string>
	<key>494</key>
	<string>Request Header Too Large (Nginx).</string>
	<key>495</key>
	<string>Cert Error (Nginx).</string>
	<key>496</key>
	<string>No Cert (Nginx).</string>
	<key>497</key>
	<string>HTTP to HTTPS (Nginx).</string>
	<key>499</key>
	<string>Client Closed Request (Nginx).</string>
	<key>500</key>
	<string>Internal Server Error.</string>
	<key>501</key>
	<string>Not Implemented</string>
	<key>502</key>
	<string>Bad Gateway.</string>
	<key>503</key>
	<string>Service Unavailable.</string>
	<key>504</key>
	<string>Gateway Timeout.</string>
	<key>505</key>
	<string>HTTP Version Not Supported.</string>
	<key>506</key>
	<string>Variant Also Negotiates (RFC 2295).</string>
	<key>507</key>
	<string>Insufficient Storage (WebDAV; RFC 4918).</string>
	<key>508</key>
	<string>Loop Detected (WebDAV; RFC 5842).</string>
	<key>509</key>
	<string>Bandwidth Limit Exceeded (Apache bw/limited extension).</string>
	<key>510</key>
	<string>Not Extended (RFC 2774).</string>
	<key>511</key>
	<string>Network Authentication Required (RFC 6585).</string>
	<key>551</key>
	<string>Option not supported (RTSP).</string>
	<key>598</key>
	<string>Network read timeout error (Unknown).</string>
	<key>599</key>
	<string>Network connect timeout error (Unknown).</string>
</dict>
</plist>
